include utils.pug
div(class='columns dashboard-col-1__container')
    div(class='dashboard-col-1__logo')
        img(src='https://i.imgur.com/6YO4cEd.png')
    div(class='dashboard-col-1__user-info')
        h2(class='dashboard-col-1__user-name') Hello, #{user.userName}!
    div(class='dashboard-col-1__errors')
    div(class='dashboard-col-1__add-list')
        +listValidationErrorSummary(listErrors)
        form(method='post' action='/lists/create' name='lists' class='dashboard-col-1__new-list-form')
            input(
                name='listName' 
                type='text' 
                placeholder='Create new list...' 
                value=listName 
                class='dashboard-col-1__new-list-input'
            )
            button(type='submit' class='dashboard-col-1__new-list-button') +
    div(class='dashboard-col-1__sections')
        h3(class='dashboard-col-1__section-title') Lists
        p(class='dashboard-col-1__unassigned-tasks dashboard-col-1__list') Unassigned Tasks
        div(class='dashboard-col-1__lists')
    //- div(class='dashboard-col-1__sections')
    //-     h3(class='dashboard-col-1__section-title') Rewards
        //- each reward in rewards
        //-     div(class='dashboard-col-1__reward-item')
