mixin listValidationErrorSummary(listErrors)
  if (listErrors)
    div(role='alert')
      p The following error(s) occurred:
      ul
        each error in listErrors
          li= error

mixin choreValidationErrorSummary(errors)
  if (errors)
    div(role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin validationErrorSummary(errors)
  if (errors && errors.length >= 1)
    div(role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue)&attributes(attributes)

mixin authField(divClass, labelText, fieldName, fieldValue, fieldType = 'text')
  div(class=divClass)
    label(class="auth-form__label", for=fieldName)= labelText
    input(class="auth-form__input", type=fieldType id=fieldName name=fieldName value=fieldValue)&attributes(attributes)

mixin choreField(divClass, labelClass, inputClass, labelText, fieldName, fieldValue, fieldType = 'text')
  div(class=divClass)
    label(class=labelClass, for=fieldName)= labelText
    input(class=inputClass, type=fieldType id=fieldName name=fieldName value=fieldValue)&attributes(attributes)
